{% extends 'toDo/base.html' %}
{% block title %}
sign in
{% endblock title %}
{% block body %} 
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row"> 
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">sign in</h3>
              </div>
              <!-- /.card-header --> 
              <!-- form start -->
                 <form action="{% url 'signin' %}"  method="post" class="was-validated" >
                 {%csrf_token%}

  <div class="form-group">
    <label for="name">Name:</label>
    <input type="name" name="name" class="form-control" placeholder="Enter name" id="name">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" name="pwd" class="form-control" placeholder="Enter password" id="pwd">
  </div>
  <button type="submit" class="btn btn-primary">Sign In</button>
</form> 
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock  %}