{% extends 'toDo/base.html' %}
{% block title %}
Sign up
{% endblock title %}
{% block body %} 
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row"> 
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Sign up</h3>
              </div>
              <!-- /.card-header --> 
              <!-- form start -->
                 <form action="{% url 'adduser' %}"  method="post" class="was-validated" >
                 {% csrf_token  %}
  <div class="form-group">
    <label for="username">username:</label>
    <input type="name" name="username" class="form-control" placeholder="Enter username" id="username">
  </div>
  <div class="form-group">
    <label for="email">email:</label>
    <input type="email" name="email" class="form-control" placeholder="Enter email" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" name="password" class="form-control" placeholder="Enter password" id="pwd">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> 
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock  %}